@import './blogs.scss';
@import './users.scss';

.bold {
  font-weight: bold;
}

.error,
.success {
  border: 3px solid red;
  padding: 10px 5px;
  background: #eee;
}

.success {
  border-color: green;
}

.input-wrap {
  padding: 0 0 10px 0;
}

.input-wrap label {
  padding: 0 5px 0 0;
  min-width: 75px;
  display: inline-block;
}

.input-wrap input {
  height: 25px;
}

.toggle-wrapper div + div {
  display: flex;
  justify-content: space-between;
}
