.users-list {
  padding: 0;
}
.users-list li {
  list-style: none;
}
.users-list li a {
  display: flex;
  justify-content: space-between;
  background: #eee;
  border: 1px solid black;
  padding: 7px;
  text-decoration: none;
  color: #000;
}
.users-list li a:hover {
  background-color: #d5d5d5;
}
.users-list li.head {
  font-weight: bold;
  font-size: 1.2em;
  padding: 7px;
  border: 1px solid black;
}
